* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.front {
    font-family: 'Open Sans', sans-serif;
}

.header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    width: 1520px;
    height: 800px;
    justify-content: space-between;

}

p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-inline: 150px;
}

.btn-primary {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #E55473;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;


}

.header-title {
    margin-top: 220px;


}

.header-image {

    margin-left: 100px;

}

.title {
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.feature-title {
    text-align: center;
    margin-top: 100px;

}


.img-name {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.img-1 {
    justify-content: space-around;
    display: flex;
    margin-top: 60px;
    gap: 20px;
}

#img-1 {
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 90px 40px 0;
    
    width: 400px;
    height: 480px;

}



#img-2 {


    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 90px 40px 40px;
    width: 400px;
    height: 480px;


}

#img-3 {
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 90px 40px 40px;
    width: 400px;
    height: 480px;
}

.main {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 100px 300px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

span {
    color: rgb(208, 39, 95);
}

.main-title {
    margin-top: 110px;
}

.main-title p {
    font-size: 14px;

}

.main-title-2 {
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main-image {
    margin-left: 150px;
}

.insta {

    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
}

.insta-image {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 50px;
}

.img {
    height: 350px;
    width: 350px;
}

.email {
    background-image: url(../Rectangle\ 9.png);
    width: 1250px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 135px;
    text-align: center;
    padding: 140px;

}

.mail {
    width: 700px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 20px;
}

.footer {
    width: 1520px;
    height: 390px;
    flex-shrink: 0;
    background: #111010;
    text-align: center;
    margin-top: 100px;
    padding: 9%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;

}

.end {
    color: rgba(255, 255, 255, 0.40);
}