* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common classes  */

.container {
    padding-inline: 150px;
}

p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #E55473;
    padding: 20px 40px;
    border-radius: 8px;
    border: none;
}

/* This is the CSS part of header section  */

.header {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    width: 1520px;
    height: 700px;
    justify-content: space-between;

}

.header-title {
    margin-top: 140px;
}

.header-image {

    margin-left: 100px;
}

.header-flower-image {
    height: 650px;
    width: 520px;
    margin-top: 50px;
}

.title {
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

/* This is the CSS part to main section  */

/* Section-1 (Bonus) */

.feature-title {
    text-align: center;
    margin-top: 100px;
}

.img-name {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
}

.img-1 {
    justify-content: space-around;
    display: flex;
    margin-top: 60px;
    gap: 20px;
    font-size: 20px;
    font-style: normal;
}

#img-1 {
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 90px 40px 0;
    width: 380px;
    height: 460px;
}

#img-2 {
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 90px 40px 40px;
    width: 380px;
    height: 460px;
}

#img-3 {
    flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 90px 40px 40px;
    width: 380px;
    height: 460px;
    padding-bottom: 0px;
    
}

/* Section-2 (Bonus) */

.season {
    height: 150px;
    width: 200px;
}

.season-title {
    text-align: center;
    margin-top: 100px;
}

.flow-title {
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
}

.flower-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 20px;

}

.flower {
    padding: 30px 30px 10px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.2);
    box-sizing: 100px 100px;
}

.flower-name {
    text-align: center;
    margin-top: 10px;
    color: rgb(245, 34, 34);
    font-family: 'Open Sans', sans-serif;
}

.flower-description {
    text-align: justify;
    margin-top: 10px;
    color: rgb(58, 51, 51);
    font-family: 'Open Sans', sans-serif;
}


/* Section-3  */

.bonus {
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    width: 1215px;
    height: 320px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-left: 145px;
    font-size: 10px;
    color: rgba(39, 39, 39, 0.80);

}

.bonus-text {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-top: 90px;
}

.bonus-text h2 {
    font-family: 'Open Sans', sans-serif;

}

/* section-4  */

.main {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 80px 250px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

span {
    color: rgb(208, 39, 95);
}

.main-title {
    margin-top: 110px;
}

.main-title p {
    font-size: 14px;
}

.main-title-2 {
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.main-image {
    margin-left: 150px;
}

.main-image-2 {
    width: 250px;
    height: 350px;
    flex-shrink: 0;
}

/* Section-5  */

.insta {

    justify-content: space-around;
    text-align: center;
    margin-top: 100px;
}

.insta-image {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 50px;
}

.img {
    height: 350px;
    width: 350px;
}

/* section-6  */

.email {
    background-image: url(../Rectangle\ 9.png);
    width: 1250px;
    height: 400px;
    flex-shrink: 0;
    margin-left: 135px;
    text-align: center;
    padding: 140px;
}

.mail {
    width: 700px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    padding-left: 20px;
}

/* This is the CSS part of footer section  */

.footer {
    width: 1520px;
    height: 390px;
    flex-shrink: 0;
    background: #111010;
    text-align: center;
    margin-top: 100px;
    padding: 9%;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

.end {
    color: rgba(255, 255, 255, 0.40);
}